<form class="lead navbar-form" role="search" method="GET" action="/buy/search" autocomplete="off">
    <div class="form-group">
        <input type="text" maxlength="50" class="form-control" pattern=".{3,50}" placeholder="Search for your book" id="id_book_name" name="query" required="required" title="Must be atleast 3 characters" value="<%= @query %>"/>
        <button type="submit" class="btn btn-default">Search</button>
    </div>
</form>