<script type="text/javascript">
function validateCredits(form_name) {

    var book_credits = document.forms[form_name]["book_credits"].value;
    var user_credits = document.forms[form_name]["user_credits"].value;

    balance_credits = user_credits - book_credits

    if (balance_credits >= 0) {
        document.getElementById("message_tag").innerHTML = '<div class="alert alert-success">Proceeding to order this book</div>'
        return true;
    }
    document.getElementById("message_tag").innerHTML = '<div class="alert alert-danger"><% if @user %>You do not have enough credits to buy this book. Please <a href="/credits/buy" style="color:red"><u><b>buy credits</b></u></a>.<% else %>Please <u><b>login</b></u> to buy books <% end %></div>'

    return false;
}
</script>


</script>
<div class="inner cover">
    <%= render "search/search" %>
    <hr class="query-title-divider"/>

    <div id="query_result_message">
        <% if @books.size == 0 %>
            <div class="alert alert-danger">Sorry, no books found this time.</div>
        <% else %>
            <div class="alert alert-success">We found <%= @books.size %> books for you. <% if @user %>Your available credits: #<%= @user.credits %><% end %></div>
        <%end %>
    </div>

    <% if @books.size > 0 %>
    <div class="panel panel-success">
        <div class="panel-body panel-books-list">
            <ol class="betterList">
                <% @books.each do |book| %>
                <li>
                <form name="buy_books_<%= book.isbn %>" method="POST" action="/buy" onsubmit="return(validateCredits('buy_books_<%= book.isbn %>'));">
                    <div class="form-group" title="<%= book.title %>">
                        <div class="list-row" id="qp_book_title"><a href=#><%= book.title %></a></div>
                        <div class="list-row" id="qp_book_isbn">ISBN: <%= book.isbn %></div>
                        <div class="list-row" id="qp_book_credits">#<%= book.credits %></div>
                        <div class="list-row" id="qp_submit">
                            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
                            <input name="isbn" type="hidden" value="<%= book.isbn %>" align="right" />
                            <input id="book_credits" type="hidden" name="book_credits" value="<%= book.credits %>" align="right" />
                            <input id="user_credits" type="hidden" name="user_credits" value="<% if @user %><%= @user.credits %><% end %>" align="right" />
                            <button type="submit" class="btn btn-default buy-book-btn">Buy</button>
                        </div>
                    </div>
                </form>
                </li>
                <% end %>
            </ol>
        </div>
    </div>
    <% end %>

<div id="message_tag" />
</div>
