<form class="form" action="/admin/books/add" method="POST">
  <label for="isbn">Book ISBN</label>
  <input id="isbn" name="isbn" class="form-control" type="text">
  <button class="btn btn-lg btn-primary btn-block" type="submit">Add Book</button>
</form>

<form class="form" action="/admin/orders/satisfy" method="POST">
  <label for="order_ids">Order Ids(Order Ids split by ,)</label>
  <input id="order_ids" name="order_ids" class="form-control" type="text">
  <button class="btn btn-lg btn-primary btn-block" type="submit">Close the orders</button>
</form>
