<% if @all_orders.size > 0 %>
    <div class="alert alert-success">Your order list</div>
    <div class="panel panel-success panel-books-list">
        <div class="panel-body">
        <ol class="betterList">
        <% @all_orders.each do |my_order| %>
            <li>
                <div title="ISBN: <%= my_order.book.isbn %>&#10;ORDERED ON: <%= my_order.created_at %>&#10;TITLE: <%= my_order.book.title %>">
                    <div class="list-row" id="op_order_id">BKID-0000.<%= my_order.id %></div>
                    <div class="list-row" id="op_book_title"><%= my_order.book.title %></div>
                    <div class="list-row" id="op_order_operation"><% if my_order.operation == Order::PICKUP %>Share<% else %>Buy<% end %></div>
                    <div class="list-row" id="op_order_status"><%= my_order.status %></div>
                </div>
            </li>
        <% end %>
        </ol>
        </div>
    </div>

<% else %>
    <div class="alert alert-info">Sorry! You haven't made any orders yet.</div>
<% end %>