<div class="inner cover">
    <% if @resp[:status] == SUCCESS %>
            <div class="alert alert-success">
                Thank you for placing the order!.
                Your Order Id: BKID-0000.<%= @resp[:order_id] %>
            </div>
        <% else %>
            <div class="alert alert-danger">
                Sorry! We could not proceed with the order.
                Cause: <%= @resp[:error] %>
            </div>
        <%end %>
</div>
