<table align="left" width="100%">
    <tbody>
        <tr>
            <td width="25%" align="right">
                <label for="book_title">Book Title</label>
            </td>
            <td width="75%">
                <input id="book_title" name="book_title" class="form-control" type="text" value="<%= @book.title %>" readonly="true">
            </td>
        </tr>

        <tr>
            <td width="25%" align="right">
               <label for="price">Book Price</label>
            </td>
            <td width="75%">
                <input id="price" name="price" class="form-control" type="text" value="<%= @book.price || params[:price] %>" readonly="true">
            </td>
        </tr>


        <tr>
            <td width="25%" align="right">
               <label for="credits">Book Credits</label>
            </td>
            <td width="75%">
                <input id="credits" name="credits" class="form-control" type="text" value="<%= @book.credits || params[:credit] %>" readonly="true">
            </td>
        </tr>

        <tr>
            <td width="25%" align="right">
                <label for="isbn">Book ISBN</label>
            </td>
            <td width="75%">
                <input id="isbn" name="isbn" class="form-control" type="text" value="<%= @book.isbn %>" readonly="true">
            </td>
        </tr>

        <tr>
            <td width="25%" align="right">
                <label for="name">Name</label>
            </td>
            <td width="75%">
                <input id="name" name="name" class="form-control" type="text" value="" required="required" placeholder="Enter your name" maxlength="30"/>
            </td>
        </tr>

        <tr>
            <td width="25%" align="right">
                <label for="pincode">Pincode</label>
            </td>
            <td width="75%">
                <input id="pincode" name="pincode" class="form-control" type="text" value="" autofill="" required="required" placeholder="Enter your area pincode" onkeypress="return isNumberKey(event)" maxlength="6" pattern=".{6,6}" title="Must be 6 digit number.">
            </td>
        </tr>

        <tr>
            <td width="25%" align="right">
                <label for="address">Address</label>
            </td>
            <td width="75%">
                <textarea rows="4" name="address" id="address" class="form-control" autofill="" required="required" placeholder="Enter your complete address with landmark" maxlength="250" /></textarea>
            </td>
        </tr>

        <tr>
            <td width="25%" align="right">
                <label for="x_city">City</label>
            </td>
            <td width="75%">
                <input id="x_city" name="x_city" class="form-control" type="text" value="Bangalore (Service available only in Bangalore)" required="required" readonly="true">
                <input id="city" name="city" class="form-control" value="Bangalore" type="hidden">
            </td>
        </tr>


        <tr>
            <td width="25%" align="right">
                <label for="x_state">State</label>
            </td>
            <td width="75%">
                <input id="x_state" name="x_state" class="form-control" type="text" value="Karnataka" readonly="true">
                <input id="state" name="state" class="form-control" value="Karnataka" type="hidden">
                <!--select id="state" name="state" class="form-control" autofill="" required="required">
                    <option value=""> - Select State - </option>
                    <option value="Andaman and Nicobar Islands">Andaman and Nicobar</option>
                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                    <option value="Assam">Assam</option>
                    <option value="Bihar">Bihar</option>
                    <option value="Chandigarh">Chandigarh</option>
                    <option value="Chhattisgarh">Chhattisgarh</option>
                    <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                    <option value="Daman and Diu">Daman and Diu</option>
                    <option value="Delhi">Delhi</option>
                    <option value="Goa">Goa</option>
                    <option value="Gujarat">Gujarat</option>
                    <option value="Haryana">Haryana</option>
                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                    <option value="Jharkhand">Jharkhand</option>
                    <option value="Karnataka">Karnataka</option>
                    <option value="Kerala">Kerala</option>
                    <option value="Lakshadweep">Lakshadweep</option>
                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                    <option value="Maharashtra">Maharashtra</option>
                    <option value="Manipur">Manipur</option>
                    <option value="Meghalaya">Meghalaya</option>
                    <option value="Mizoram">Mizoram</option>
                    <option value="Nagaland">Nagaland</option>
                    <option value="Odisha">Odisha</option>
                    <option value="Pondicherry">Pondicherry</option>
                    <option value="Punjab">Punjab</option>
                    <option value="Rajasthan">Rajasthan</option>
                    <option value="Sikkim">Sikkim</option>
                    <option value="Tamil Nadu">Tamil Nadu</option>
                    <option value="Tripura">Tripura</option>
                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                    <option value="Uttrakhand">Uttrakhand</option>
                    <option value="West Bengal">West Bengal</option>
                    <option value="Army Post Office">Army Post Office</option>
                </select-->
            </td>
        </tr>

        <tr>
            <td width="25%" align="right">
                <label for="x_country">Country</label>
            </td>
            <td width="75%">
                <input id="x_country" name="x_country" class="form-control" type="text" value="India (Service available only in India)" readonly="true">
                <input id="country" name="country" class="form-control" value="India" type="hidden">
            </td>
        </tr>

        <tr>
            <td align="right">
                <label for="phone">Phone (+91)</label>
            </td>
            <td>
                <input id="phone" name="phone" class="form-control" type="text" value="" autofill="" required="required" placeholder="Enter your phone number" onkeypress="return isNumberKey(event)" maxlength="10" pattern=".{10,10}" title="Must be 10 digit number.">
            </td>
        </tr>
        <tr>
            <td width="25%" align="right"></td>
            <td width="75%">
                <div class="btn-group">
                    <button class="btn btn-lg btn-primary btn-order-submit" type="submit">Place Order</button>
                    <button class="btn btn-lg btn-danger" type="reset" onclick="history.go(-1);">Cancel</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
