    <form class="lead navbar-form" role="search" method="GET" action="/share/search" name="search_share_books_form">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter your book's ISBN to share" id="isbn" name="isbn" required="required" onkeypress="return isNumberKey(event)" maxlength="13" pattern=".{13,13}" title="Supports ISBN-13 only. Prefix 000 for ISBN-10." value="<% if @book %><%= @book.isbn %><% end %>"/>
            <button type="submit" class="btn btn-default">Search</button>
        </div>
    </form>
