<div class="inner cover">

    <form class="form" action="/share/confirm" method="POST">
      <div class="form-group">
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
        <%= render "books/order_table" %>
      </div>
    </form>
</div>