<div class="inner cover">

    <%= render "books/search" %>

    <hr class="query-title-divider"/>
    <div id="message_tag">
    <% if @book %>
        <div class="alert alert-success">We found your book details.</div>
    <% else %>
        <div class="alert alert-danger">Sorry! We could not find your book. Please provide the details</div>
    <% end %>
    </div>

    <form class="form" action="/share" method="POST" name="share_get_details_form" onsubmit="return(proceedingOrder());">

      <div class="form-group">
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
        <table align="left" width="80%">
            <tbody>
                <tr>
                    <td width="25%" align="right">
                        <label for="title">Book Title</label>
                    </td>
                    <td width="75%">
                        <% if @book %>
                            <input id="title" name="title" class="form-control" type="text" value="<%= @book.title %>" readonly="true">
                        <% else %>
                            <input id="title" maxlength="150" name="title" class="form-control" type="text" value="" required="required" placeholder="Enter your book name">
                        <% end %>
                    </td>
                </tr>

                <tr>
                    <td width="25%" align="right">
                        <label for="isbn">Book ISBN</label>
                    </td>
                    <td width="75%">
                        <% if @book %>
                            <input id="isbn" name="isbn" class="form-control" type="text" value="<%= @book.isbn %>" readonly="true">
                        <% else %>
                            <input id="book_isbn" name="isbn" class="form-control" type="text" value="" required="required" placeholder="Enter your book ISBN" onkeypress="return isNumberKey(event)" maxlength="13" pattern=".{13,13}" title="Supports ISBN-13 only. Prefix 000 for ISBN-10.">
                        <% end %>
                    </td>
                </tr>

                <tr>
                    <td width="25%" align="right">
                        <label for="price">Book Price (INR)</label>
                    </td>
                    <td width="75%">
                        <% if @book && @book.price %>
                            <input id="price" name="price" class="form-control" type="text" value="<%= @book.price %>" readonly="true">
                        <% else %>
                            <input id="price" name="price" class="form-control" type="text" value="" required="required" placeholder="Enter your book price" onkeypress="return isNumberKey(event)" maxlength="4" pattern=".{1,4}" title="Price must be less than 10,000 INR">
                        <% end %>
                    </td>
                </tr>

                <tr>
                    <td width="25%" align="right">
                        <label for="credit">
                            <% if @book && @book.credits %>
                                Book Credit
                                <%= image_tag "exclamation_green.png" %>
                            <% else %>
                                Expected Credit
                                <%= image_tag "exclamation_red.png" %>
                            <% end %>
                        </label>
                    </td>
                    <td width="75%">
                        <% if @book && @book.credits %>
                            <input id="credit" maxlength="4" name="credit" class="form-control" type="text" value="<%= @book.credits %>" readonly="true"/ >
                        <% else %>
                            <input id="credit" maxlength="4" name="credit" class="form-control" type="text" value="" required="required" placeholder="Enter your expected credit." title="We will let you know your book's final credit"/>
                        <% end %>
                    </td>
                </tr>
                <tr>
                    <td width="25%" align="right"></td>
                    <td width="75%">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Share my Book</button>
                    </td>
                </tr>
            </tbody>
        </table>
      </div>
    </form>
</div>
