<div class="inner cover">
    <div class="deal_box_cover">
        <div class="buy_credits_deal_box" id="sack">
            <a href="#1" class="pulse"><%= image_tag "CrystalSack.png" %></a>
        </div>
        <div class="buy_credits_deal_box_invisible"></div>
        <div class="buy_credits_deal_box" id="chest">
            <a href="#2" class="pulse"><%= image_tag "CrystalChest.png" %></a>
        </div>
        <div class="buy_credits_deal_box_invisible"></div>
        <div class="buy_credits_deal_box" id="wagon">
            <a href="#3" class="pulse"><%= image_tag "CrystalWagon.png" %></a>
        </div>
    </div>
</div>