<!DOCTYPE html>
<html>

<head>
    <title>Bookolgy</title>
    <%= favicon_link_tag '/favicon.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track"=>true %>
    <%= javascript_include_tag "application", "data-turbolinks-track"=>true %>
    <%= csrf_meta_tags %>


    <% unless @user %>
        <script type="text/javascript">
            alert ("Place2"+<% @user.inspect %>);
        </script>
        <script type="text/javascript" async="true">
          (function() {
             var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
             po.src = 'https://apis.google.com/js/client:plusone.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
           })();


         function signinCallback(authResult) {
             var token = gapi.auth.getToken();
             var accessToken = token.access_token;
             if (authResult['access_token']) {
               var accessUrl = 'https://www.googleapis.com/plus/v1/people/me?access_token=' + accessToken;
               $.ajax({
                 type: 'GET',
                 url: accessUrl,
                 async: false,
                 contentType: 'application/json',
                 dataType: 'jsonp',
                 success: function(data) {
                     xmlhttp=new XMLHttpRequest();
                     xmlhttp.onreadystatechange = function() {
                        if (xmlhttp.readyState==4 && xmlhttp.status==200) {
                            location.reload(true);
                        }
                     }
                     xmlhttp.open("POST", "/oauth2callback", true);
                     xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                     xmlhttp.send("csrf_token="+ document.forms["myForm"]["authenticity_token"].value +"&access_token="+ accessToken +"&name=" + data.displayName +"&id=" + data.id);
                 },
                 error: function(e) {
                   console.log(e);
                 }
               });
             } else if (authResult['error']) {
               $('.is-this-you').html("<h4>Your request could not be completed at this time</h4>");
             };
          }
        </script>
    <% end %>

    <script type="text/javascript">
        function changeClass(element) {
            var d = element.parentNode;
            d.className = "active";
        }

        function isNumberKey(evt){
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }
    </script>
</head>

<body>

    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix masthead-navbar">
                    <div class="inner">
                        <h1 class="masthead-brand masthead-brand-logo"><%= image_tag "B.png", size: "56" %>ookolgy</h1>
                        <ul class="nav masthead-nav">
                            <li class="active"><a class="hover-shadow" href="/" onclick="changeClass(this)" id="home_link">Home</a>
                            </li>
                            <li><a class="hover-shadow" href="/share" onclick="changeClass(this)" id="share_link">Share Books</a>
                            </li>
                            <li><a class="hover-shadow" href="/credits/buy" onclick="changeClass(this)" id="buy_link">Buy Credits</a>
                            </li>
                            <li id="sign-in">
                                <% if @user %>
                                    <div class="masthead-user">Welcome <%= @user.name %><br><div>Credits: <%= @user.credits %></div></div>
                                <% else %>
                                    <span class="g-signin" data-callback="signinCallback"
                                        <% if Rails.env == "production" %>
                                            data-clientid="1006768843913-kqg60iufeofo8nucnfd7au5hnpkbkk3t.apps.googleusercontent.com"
                                        <% else %>
                                            data-clientid="27420375109-588lkp9snhmgg4srpk05sca1f2aglstm.apps.googleusercontent.com"
                                        <% end %>
                                            data-cookiepolicy="single_host_origin"
                                            data-scope="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email">
                                    </span>
                                    <form name="myForm">
                                        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
                                    </form>
                                <% end %>
                            </li>
                        </ul>
                    </div>
                </div>

                <%= yield %>

                <div class="mastfoot">
                    <div class="inner">
                        <p>Copyrights © <a href="http://bookolgy.in/">bookolgy</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

</body>

</html>
